#list_view {
   opacity:0;
   -webkit-transition:opacity 2s;
   transition:opacity 2s;
}

img {
    width: 100%;
}

.modalViewText {
	margin:5% 2%;
	text-align:center;
}

.modalViewButtons {
	margin: .6em .8em 0;
	display: block;
    text-align: center;
}
